 # Tidy Data Assignment 2

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("billboard.csv")
data.head()

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.isna().count()

artiste         317
track           317
genre           317
date.entered    317
date.peaked     317
               ...
x72nd.week      317
x73rd.week      317
x74th.week      317
x75th.week      317
x76th.week      317
Length: 81, dtype: int64

In [4]:
data.shape

(317, 81)

## Dropping records with missing values thres of 9

In [5]:
data = data.dropna(thresh=9)
data.isna().count()

artiste         300
track           300
genre           300
date.entered    300
date.peaked     300
               ...
x72nd.week      300
x73rd.week      300
x74th.week      300
x75th.week      300
x76th.week      300
Length: 81, dtype: int64

In [6]:
data.columns

Index(['artiste', 'track', 'genre', 'date.entered', 'date.peaked', 'x1st.week',
       'x2nd.week', 'x3rd.week', 'x4th.week', 'x5th.week', 'x6th.week',
       'x7th.week', 'x8th.week', 'x9th.week', 'x10th.week', 'x11th.week',
       'x12th.week', 'x13th.week', 'x14th.week', 'x15th.week', 'x16th.week',
       'x17th.week', 'x18th.week', 'x19th.week', 'x20th.week', 'x21st.week',
       'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week', 'x26th.week',
       'x27th.week', 'x28th.week', 'x29th.week', 'x30th.week', 'x31st.week',
       'x32nd.week', 'x33rd.week', 'x34th.week', 'x35th.week', 'x36th.week',
       'x37th.week', 'x38th.week', 'x39th.week', 'x40th.week', 'x41st.week',
       'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week', 'x46th.week',
       'x47th.week', 'x48th.week', 'x49th.week', 'x50th.week', 'x51st.week',
       'x52nd.week', 'x53rd.week', 'x54th.week', 'x55th.week', 'x56th.week',
       'x57th.week', 'x58th.week', 'x59th.week', 'x60th.week', 'x61st.week',
       'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week', 'x66th.week',
       'x67th.week', 'x68th.week', 'x69th.week', 'x70th.week', 'x71st.week',
       'x72nd.week', 'x73rd.week', 'x74th.week', 'x75th.week', 'x76th.week'],
      dtype='object')

In [7]:
melted_data = pd.melt(data, id_vars=['artiste', 'track', 'genre', 'date.entered', 'date.peaked'], value_name='Rank', var_name='Week')
melted_data.head()

,artiste,track,genre,date.entered,date.peaked,Week,Rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [8]:
melted_data.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
Week             object
Rank            float64
dtype: object

In [9]:
melted_data['date.entered'] = pd.to_datetime(melted_data['date.entered'])
melted_data['date.peaked'] = pd.to_datetime(melted_data['date.peaked'])
melted_data['Week'] = melted_data['Week'].str.extract('(\d+)').astype(int)
melted_data.dtypes

artiste                 object
track                   object
genre                   object
date.entered    datetime64[ns]
date.peaked     datetime64[ns]
Week                     int32
Rank                   float64
dtype: object

In [10]:
melted_data['entered_to_peak'] = melted_data['date.peaked'] - melted_data['date.entered']
melted_data.head()

,artiste,track,genre,date.entered,date.peaked,Week,Rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70 days

In [11]:
melted_data['entered_to_peak'] = melted_data['entered_to_peak'].dt.days

## Data formated

In [12]:
melted_data.dtypes

artiste                    object
track                      object
genre                      object
date.entered       datetime64[ns]
date.peaked        datetime64[ns]
Week                        int32
Rank                      float64
entered_to_peak             int64
dtype: object

In [13]:
melted_data.head()

,artiste,track,genre,date.entered,date.peaked,Week,Rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,1,78.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,1,15.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,1,71.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,1,41.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,1,57.0,70

### Who and what music ranked 1 in Rock after peaking 35 days from entering into the competition.

In [14]:
ans_data = melted_data.loc[melted_data['entered_to_peak'] == 35,: ]
ans_data = ans_data.loc[melted_data['genre'] == "Rock",: ]
ans_data = ans_data.loc[melted_data['Rank'] == 1,['artiste','track']]
ans_data.head()

      artiste  track
1503  Madonna  Music
1803  Madonna  Music
2103  Madonna  Music
2403  Madonna  Music

### The artiste Modonna ranked first with rock track Music after 35 days